.root {
  all: unset;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.count {
  all: unset;
  display: revert;
  color: var(--grey1);
  font-family: var(--font-family-body);
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
