.container {
  overflow: hidden;
  position: relative;
}

.confettiCannon {
  position: absolute;
  bottom: 0;
  left: 0;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
  /* A delay of 2s gives room for a 3s confetti animation to happen and then 
    fade out while the it's ending */
  transition: opacity 500ms linear 2s;
}
