.container {
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: opacity 500ms linear;
}

.confettiCannon {
  position: absolute;
  bottom: 0;
  left: 0;
}

.invisible {
  opacity: 0;
  transition: opacity 500ms linear 2000ms;
}
