body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide Next.js's error overlay so that it doesn't hide our own UI. */
nextjs-portal {
  display: none;
}
