.react-tabs__tab:focus {
  box-shadow: none;
}

.react-tabs__tab:focus::after {
  background: transparent;
}
.react-tabs__vertical {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #f9f8f9;
}

.react-tabs__vertical__tab-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background: #fff;
}

.react-tabs__vertical__tab {
  width: 380px;
  height: 160px;
  list-style: none;
  padding: 32px;
  cursor: pointer;
  color: #bbb;
  display: flex;
  align-items: center;
  border-right: 1px solid #dcdbdd;
}

.react-tabs__vertical__tab:not(:last-child) {
  border-bottom: 1px solid #dcdbdd;
}

.react-tabs__vertical__tab--selected {
  padding-left: 21px;
  background: #f9f8f9;
  border-right: none;
}

.react-tabs__vertical__tab--selected:focus-visible {
  outline: none !important;
}

.react-tabs__vertical__tab-panel {
  display: none;
  width: 570px;
  padding: 24px;
  overflow-y: auto;
}

.react-tabs__vertical__tab-panel--selected {
  display: block;
}

.react-tabs__vertical__tab {
  padding-left: 24px;
}

.react-tabs__tab-panel--selected {
  display: block;
}
