# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo
.metals
*.code-workspace

# Project specific
node_modules
*.log
/lib
tmp
.cache
.changelog
coverage/
.nyc_output/
.eslintcache
dist
*.tgz

.now
.vercel

.env
