.root {
  align-items: center;
  border-radius: 6px;
  border: solid 1px transparent;
  border-image: linear-gradient(
      to right,
      color-mix(in srgb, var(--grey6), transparent 100%),
      var(--grey6),
      color-mix(in srgb, var(--grey6), transparent 100%)
    )
    1 stretch;
  display: flex;
  gap: 4px;
  height: 32px;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1011px) {
  .text {
    display: none;
  }
}
