.items {
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;

  &:last-child {
    .separator {
      display: none;
    }
  }

  .active {
    font-weight: 500;
  }
}
