.pure-loader {
  position: absolute;
  width: 24px;
  transform: translateY(-50%);
}

.pure-loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.pure-loader-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pure-loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: white;
}
