body {
  margin: 0;
}

.sliceMenuButton:hover {
  background: rgba(0, 0, 0, 0.06) !important;
  border-radius: 3px;
}
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content--after-open {
  min-height: 60vh;
}

.react-datepicker-wrapper {
  width: 100%;
}
