/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
  max-width: 600px;
  width: initial;
}

/** Classes for the displayed toast **/
.Toastify__toast {
  padding: 8px 16px 8px 8px;
  min-height: initial;
  font-size: 14px;
}
.Toastify__toast-body {
  padding: 0;
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-center {
  left: calc(50% + 130px);
}

/** Used to position the icon **/
.Toastify__toast-icon {
  margin-right: 8px;
}

/** handle the notification color and the text color based on the theme **/
.Toastify__toast.Toastify__toast--default {
  background-color: #222222;
  color: white;
}
.Toastify__toast.Toastify__toast--info {
  background-color: #222222;
  color: white;
}
.Toastify__toast.Toastify__toast--success {
  background-color: #3ab97a;
  color: white;
}
.Toastify__toast.Toastify__toast--warning {
  background-color: #f2994a;
  color: white;
}
.Toastify__toast.Toastify__toast--error {
  background-color: #e26049;
  color: white;
}
