.grid {
  all: unset;
  display: grid;
}

.root {
  composes: grid;
  background-color: var(--grey2);
  grid-template-areas: "pane header" "pane content";
  grid-template-columns: min-content minmax(auto, 1008px);
  grid-template-rows: min-content 1fr;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

.borderTop {
  all: unset;
  display: revert;
  height: 2px;
  position: fixed;
  top: 0;
  width: inherit;
}

.borderTopColor-amber {
  background-color: var(--amber10);
}

.borderTopColor-indigo {
  background-color: var(--indigo10);
}

.borderTopColor-purple {
  background-color: var(--purple9);
}

.pane {
  composes: grid;
  border-right-color: var(--grey6);
  border-right-style: dashed;
  border-right-width: 1px;
  box-sizing: border-box;
  grid-area: pane;
  overflow-y: auto;
  position: sticky;
  top: 0;
  width: 288px;
}

@media screen and (max-width: 1011px) {
  .pane {
    width: 80px;
  }
}

.header {
  composes: grid;
  box-sizing: border-box;
  grid-area: header;
  height: 64px;
  padding-block: 16px;
  padding-inline: 32px;
}

.content {
  composes: grid;
  grid-area: content;
  min-height: 0px;
  padding-inline: 32px;
  padding-top: 16px;
  .header ~ & {
    padding-top: 0px;
  }
}

.contentChildren {
  composes: grid;
  padding-bottom: 16px;
}
