name: ci

on: [push]

jobs:
  suite:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore cache
        uses: ./.github/actions/restore-cache

      - name: Set up Node
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: yarn install

      - name: Build packages
        run: yarn build

      - name: Verify formatting
        run: yarn format:check

      - name: Verify linting
        run: yarn lint
        
      - name: Verify types
        run: yarn types
        
      - name: Verify dependencies
        run: yarn depcheck
        
      - name: Verify vulnerabilities
        run: yarn audit