name: Publish stable

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release type for all packages"
        required: true
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  publish-stable:
    if: ${{ startsWith(github.ref, 'refs/heads/main')}}
    name: Publish stable
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: ./.github/actions/setup-node
        
      - name: Install dependencies
        run: yarn install

      - name: Build packages
        run: yarn build

      - name: Run publish script
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git config user.name "${GITHUB_ACTOR}"
          release_type="${{ inputs.release-type }}"
          packages=(
            "@prismicio/cli"
            "@prismicio/manager"
            "@prismicio/plugin-kit"
            "@prismicio/adapter-next"
            "@prismicio/adapter-nuxt"
            "@prismicio/adapter-nuxt2"
            "@prismicio/adapter-sveltekit"
          )
          specifiers=""
          for package in "${packages[@]}"; do
            specifiers+="$package:$release_type "
          done
          yarn publish stable $specifiers
